{% extends 'base.html' %}

{% block content %}
    <h1>Sc4nner</h1>
    <form method="post">
        <label for="title">ID:</label>
        <input type="text" name="id"
               placeholder="Use scanner to proceed!"
               autofocus=true
               value="{{ id }}"></input>
        <button type="submit">Submit</button>
    </form>
    {% if product_name %}
        <div>
        <h1>Product: {{ product_name }}</h1>
        <h2>ecoscore: {{ eco_score }}</h2>
    </div>
    {% if is_best_product == True %}
        <img src={{ better_product_picture }}>
        <p>i bims k1 Umweltschwein</p>
        {% else %}
        <div>
        <h1>better Product: {{ better_product_name }}</h1>
        <h1>ecoscore: {{ better_eco_score }}</h1>
        <img src={{ better_product_picture }}>
        <h1>zu kaufen bei {{ stores }}</h1>
    </div>
    {% endif %}
    {% endif %}
{% endblock %}